<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>電卓</title>
	<meta charset="utf-8" />
</head>

<body>
	<h1>電卓フォーム</h1>
	<form th:action="calculator" method="post">
		<input type="text" name="str1">
		<button type="submit" name="add">＋</button>
		<button type="submit" name="minus">－</button>
		<button type="submit" name="multiplication">×</button>
		<button type="submit" name="division">÷</button>
		<input type="text" name="str2">
	</form>
	<p th:text="${result}"></p>
	<!-- 入力をボタンで電卓-->
	<!--	<form th:action="calculator" method="post">-->
	<!--		<input type="submit" value="1" name="str1">-->
	<!--		<input type="submit" value="2" name="str1">-->
	<!--		<input type="submit" value="3" name="str1">-->
	<!--		<input type="submit" value="4" name="str1">-->
	<!--		<input type="submit" value="5" name="str1">-->
	<!--		<input type="submit" value="6" name="str1">-->
	<!--		<input type="submit" value="7" name="str1">-->
	<!--		<input type="submit" value="8" name="str1">-->
	<!--		<input type="submit" value="9" name="str1">-->
	<!--		<input type="submit" value="0" name="str1">-->
	<!--		<button type="submit" name="add">＋</button>-->
	<!--	</form>-->
	<!--	<form th:action="equal" method="post"></form>-->
	<!--	<p th:text="${str1}"></p>-->
	<!--	<p th:text="${str2}"></p>-->
	<!--	<p th:text="${result}"></p>-->
</body>

</html>