<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>電卓</title>
	<meta charset="utf-8" />
</head>

<body>
	<h1>電卓フォーム</h1>
	<form th:action="calculator" method="post">
		<input type="text" name="str1">
		<button type="submit" name="add">＋</button>
		<button type="submit" name="minus">－</button>
		<button type="submit" name="multiplication">×</button>
		<button type="submit" name="division">÷</button>
		<input type="text" name="str2">
	</form>
	<p th:text="${result}"></p>
</body>

</html>