<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>math</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <h1>計算フォーム</h1>
    <h2><span th:text="${err}"></h2>
<!--    <form action="../../java/com/example/demo/controller/MathController.java" method="post">-->
<!--		<input th:text="${s}">-->
<!--	</form>-->
<!--    <form action="../../java/com/example/demo/controller/MathController.java" method="post"></form>-->
<!--    <p><span th:text="${math}"></p>-->
  </body>
</html>